@import url(@unocss/reset/tailwind.css);
@import url(overlayscrollbars/overlayscrollbars.css);

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Baloo 2';
  src: url("/Baloo2-Bold.subset.ttf");
}


html.dark {
  color-scheme: dark;
}

body {
  --at-apply: color-base bg-base sprinkle-primary text-base;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/styles/themes.scss */
.dark .os-theme-dark {
  --os-handle-bg: rgba(255, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}


* {
  user-select: none;
}

a, button, label[for], [role="button"] {
  cursor: pointer;
}

#dropdown-menu li {
  --at-apply: hover:bg-neutral-400/10 rounded-md flex items-center p-1 gap-1;
}


.grabbing * {
  cursor: grabbing;
}
